*{
    margin: 0;
    padding: 0;
}
#banner{
    background: linear-gradient(rgba(128, 128, 128, 0.5), #808080), url(images/no-revisions-WvxL8m1AoAE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
}
.banner-text{
    text-align: center;
    padding-top: 180px;
}
.banner-text p{
    font-size: 20px;
}
.banner-text h3{
    font-size: 30px;
}